In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
# %matplotlib.inline

In [2]:
df = pd.read_csv("Data_USD.csv")
df.head()

,LIMIT_BAL_US,SEX,EDUCATION,MARRIAGE,AGE,PAY_SCORE_AVG,BILL_AVG_US,PAY_AMT_AVG_US,PAY_TO_BILL,CREDIT_UTILIZATION,DEFAULT_PAYMENT_NEXT_MO
0,725.714286,2,2,1,24,-0.33,46.590857,4.166810,0.09,0.195650,1
1,4354.285714,2,2,2,26,0.50,103.275191,30.238095,0.29,0.022350,1
2,3265.714286,2,2,2,34,0.00,614.758619,66.632667,0.11,0.324878,0
3,1814.285714,2,2,1,37,0.00,1399.019905,50.727429,0.04,0.939800,0
4,1814.285714,1,2,1,57,-0.33,661.240619,357.105857,0.54,0.172340,0

In [3]:
print("Original shape of the data: "+ str(df.shape))
features_names = df.columns

Original shape of the data: (30000, 11)

In [4]:
X = df.drop('DEFAULT_PAYMENT_NEXT_MO',axis =1).values
y = df['DEFAULT_PAYMENT_NEXT_MO'].values
print(X.shape)
print(y.shape)

(30000, 10)
(30000,)

Split my data into training and testing

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

Instantiate the random forest model

In [6]:
rf = RandomForestClassifier(n_estimators=200)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

Checking to see how well it predicts / our accuracy score

In [7]:
rf.score(X_test, y_test)

0.79898989898989903

Check feature importance

In [8]:
sorted(zip(rf.feature_importances_, features_names), reverse=True)

[(0.19203158992298769, 'PAY_SCORE_AVG'),
 (0.1484300647717052, 'PAY_AMT_AVG_US'),
 (0.14518024909882363, 'CREDIT_UTILIZATION'),
 (0.14375556105806633, 'BILL_AVG_US'),
 (0.11564391402822941, 'AGE'),
 (0.096003005717858678, 'LIMIT_BAL_US'),
 (0.081669953827785288, 'PAY_TO_BILL'),
 (0.034392230451307959, 'EDUCATION'),
 (0.022335809239917022, 'MARRIAGE'),
 (0.020557621883318552, 'SEX')]